.form_container {
  position: relative;
}

.input {
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 10px;
  margin-bottom: 20px;
  outline-color: rgb(36, 74, 178);
  width: 300px;
  border: 1px solid #4c489d;
  border-radius: 5px;
}
.form_label {
  color: #4c489d;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 20px;
}
.btn_primary {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4c489d;
  width: 320px;
  padding: 10px;
  height: 40px;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  box-shadow: 0px 2px 2px #5c5696;
  transition: 0.2s;
}
.btn_primary:active,
.btn_primary:focus,
.btn_primary:hover {
  background-color: #36326e;
  outline: none;
}

.error_message_name {
  position: absolute;
  top: -6px;
  left: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 46px;
  color: #4c489d;
  background-color: #fff;
  border: 1px solid #4c489d;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
}
.error_message_number {
  position: absolute;
  top: 84px;
  left: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 46px;
  color: #4c489d;
  background-color: #fff;
  border: 1px solid #4c489d;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
}
